
*.hex
*.map
*.lst
*.scvd
*.uvoptx
*.uvguix.*
*.emProject
*.emSession
.vscode
.vs
*.o
*.d
*.exe

posix
core

# Forder
Objects
build
DebugConfig
Listings
Objects
Output
Debug
Exe
Obj
cmake-build-debug

# File
JLinkLog.txt
setting.ini
.sconsign.dblite
__pycache__
